.fadeIn-enter, .fadeIn-leave-to {
  opacity: 0;
}

.fadeIn-enter-active, .fadeIn-leave-active{
  transition: opacity .2s ease-in-out;
}

.scaleXIn-enter, .scaleXIn-leave-to {
  transform: scaleX(0);
}

.scaleXIn-enter-active, .scaleXIn-leave-active{
  transition: transform .1s ease-in-out;
}