@font-face {
  font-family: 'Exo-Regular', sans-serif;
  src: url('/fonts/Exo_2/Exo2-Regular.eot');
  src: url('/fonts/Exo_2/Exo2-Regular.eot?#iefix') format('embedded-opentype'),
  url('/fonts/Exo_2/Exo2-Regular.svg#Exo2-Regular') format('svg'),
  url('/fonts/Exo_2/Exo2-Regular.ttf') format('truetype'),
  url('/fonts/Exo_2/Exo2-Regular.woff') format('woff'),
  url('/fonts/Exo_2/Exo2-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

