@mixin fontExo($color, $fontSize) {
  font-family: 'Exo', sans-serif;
  font-size: $fontSize;
  color: $color;
}

@mixin fontPlay($color, $fontSize) {
  font-family: 'Play-Regular', sans-serif;
  font-size: $fontSize;
  color: $color;
}

@mixin padd($padd...) { //@include padd(25px, 12px, 5px);
  padding: $padd;
}

@mixin flexAlign($justify) {
  display: flex;
  align-items: center;
  justify-content: $justify;
}

@mixin hover($hover, $focus) {
  color: $hover;
  &:hover {
    color: darken($hover, 20%);
  }
  &:focus {
    color: $focus;
  }
  @content;
}

@mixin grid($cols, $margin) {
  float: left;
  background: #5697ff;
  margin: $margin;
  @if ($cols >= 5) {
    width: 100%;
    margin-right: 0;
  }
  @else {
    width: ((100% - (($cols - 1) * $margin)) / $cols); //рассчитываем ширину колонок
    margin-right: $margin;
  }
  &:nth-child(#{$cols}n) {//выбираем последний из колонок
    margin: 0;
  }
}
