@mixin fontExo($color, $fontSize) {
  font-family: 'Exo', sans-serif;
  font-size: $fontSize;
  color: $color;
}

@mixin fontPlay($color, $fontSize) {
  font-family: 'Play-Regular', sans-serif;
  font-size: $fontSize;
  color: $color;
}

@mixin padd($padd...) { //@include padd(25px, 12px, 5px);
  padding: $padd;
}

@mixin flexAlign($align, $justify, $direction: row) {
  display: flex;
  align-items: $align;
  justify-content: $justify;
  flex-direction: $direction;
}

@mixin hover($hover, $focus) {
  color: $hover;
  &:hover {
    color: darken($hover, 20%);
  }
  &:focus {
    color: $focus;
  }
  @content;
}