$bcgWhite: #f4f4f4;
$white: #fefefe;
$red: #ff2528;
$black: #272727;
$green: #23a051;
$greenLight: #00a020;
$blue: #1d3fff;
$blueLight: #1c96ff;
$orange: #dda325;
$darkBlue: #040424;
$darkGrey: #848c91;
$grey: #a8abb4;

//shadows
$boxShadow: 0 6px 7px -4px rgba(0, 0, 0, .2), 0 11px 15px 1px rgba(0, 0, 0, .14), 0 4px 20px 3px rgba(0, 0, 0, .12);

  //border
$border: 1px solid red;

  //fonts
$exo: 'Exo-Regular', sans-serif;

  //sizes
$col: 100% / 12;
$colFix: 1300px / 12;

$adminHeader: 60px;
$adminAside: 200px;

@media screen and(max-width: 1500px) {
  $col: 100% / 6
}
